
body{
    background-color:#d6e8ff;
}

nav{
    display:flex;
    background-color: #005a96;
    color: #d6e8ff;
    border-radius: 15px;
    padding: 15px;
}

.headings{
    font-family:'Franklin Gothic Medium', sans-serif;
    margin-left: 15pt;    
}

div{
    padding: 10px;
}

h1{
    font-family: Georgia, serif;
    background-color:#005a96;
    color: beige;
    padding: 1%;
    margin-top:0pt;
    position: relative;
    border-radius: 15px;
    text-align: center;
}

a:link {
    color:beige;
    
}
a:visited{
    color: beige;
}
a:hover {
    display:block;
    color:azure;
    background-color:steelblue;
    text-decoration:underline;
    padding: 5px;

}
a:active {
    color:red;
    text-decoration:underline;
}