@charset "utf-8";

body{
    background-color:#d6e8ff;
}

nav{
    display:flex;
    background-color: #005a96;
    color: #d6e8ff;
    border-radius: 15px;
    padding: 15px;
}

.headings{
    font-family:'Franklin Gothic Medium', sans-serif;
    margin-left: 15pt;    
}

div{
    padding: 10px;
}

h1{
    font-family: Georgia, serif;
    background-color:#005a96;
    color: beige;
    padding: 1%;
    margin-top:0pt;
    position: relative;
    border-radius: 15px;
    text-align: center;
}

h3{
    color:#005a96
}

img{
    margin-top: 5%;
    float: left;
    border-radius: 25px;
    margin-left: 5%;
    box-shadow: 0 4px 8px 0 grey, 0 6px 20px 0 grey;
    max-width: 100%;
    margin-bottom: 20px;
    margin-right: 20px;
}

p{
    font-family:'Times New Roman', Times, serif;
    font-size: 12pt;
   /* margin-bottom: 25pt;
    margin-left: 45pt;
    margin-right: 120pt; */
    background-color:beige;
    color:mediumblue;
    padding: 2%;
    border-radius: 25px;
    display:flex;
    line-height: 150%;
}
.text-block {
    margin-top: 150px;
}

.card-container {
    display: flex;
    gap: 10px;
    justify-content: center;
    width: 90%;
    margin-top: 150px;
}

.card {
    margin-left: 5%;
    width: 250px;
    box-shadow: 0 4px 8px 0 grey, 0 6px 20px 0 grey;
    text-align: center;
    border-radius: 25px;
    flex:1;
    text-decoration: none;
    color: inherit;
    transition: transform 0.2s;
  }

.card:hover {
    transform: translateY(-5px);
}
  
.card-header {
    background-color: #b7daf9;
    color: white;
    padding: 10px;
    font-size: 20px;
    border-radius: 25px;
    margin: 10px;
    }

.card-button{
    font-family:'Times New Roman', Times, serif;
    font-size: 12pt;
    background-color:beige;
    color:mediumblue;
    /*padding: 2%;
    border-radius: 25px;
    display:flex;
    */
    line-height: 150%;
}

a:link {
    color:beige;
    
}
a:visited{
    color: beige;
}
a:hover {
    display:block;
    color:azure;
    background-color:steelblue;
    text-decoration:underline;
    padding: 5px;

}
a:active {
    color:red;
    text-decoration:underline;
}